div.addey{
    font-family: 'Times New Roman', Times, serif;
    color: crimson;
    background-color: darkblue;
}
div.rochelle{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:cornflowerblue;
    color: purple;
}
div.michael{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
    background-color: lightgray;
}